{% extends "base.html" %}
{% block main_content %}

<div class="col-5">
  <div class="card">
    <div id="my_dataviz"></div>
    <script> var data_path="{{filepath}}";</script>
    <script src="{{url_for('static', filename='js/bar_graph.js')}}"></script>
    <script src="{{url_for('static', filename='js/animate.js')}}"></script>
    <script src="{{url_for('static', filename='js/top_nav.js')}}"></script>
  </div>
</div>
<!-- "https://raw.githubusercontent.com/holtzy/data_to_viz/master/Example_dataset/7_OneCatOneNum_header.csv" -->



{% endblock %}

