.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

/* Vertical Navigation */
.vertical-nav {
    width: 12em;
    height: 100vh;
    /* position: fixed; */
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
  }

.vertical-nav li:hover{
    background-color:rgba(196, 196, 196, 0.144);
    color: #7386D5;
}

.nav-item.active{
  background-color:rgba(196, 196, 196, 0.144);
}

.vertical-nav li{
  width: 100%;
}

.navbar.top-nav{
  padding-top: 0 !important; 
  padding-bottom: 0 !important;
}

nav .navbar.top-nav{
  margin-left: 0px;
}

.horizontal-nav{
  width: calc(100vw - 12rem);
  margin-left: 0rem;
  margin-right: 0rem;
}

.text-overflow-center {
  display: flex;
  justify-content: center;
}

/* Tour Sub Nav */
li.sub-nav {
  width: 100% !important;
  align-items: center;
  font-size: 100%;
}

#nav_card nav{
  padding: 0;
}

.hide-element {
  display: none !important;
}


/* General Layout */
.right-content{
  width: calc(100vw - 12rem);
  margin-left: 0rem;
  margin-right: 0rem;
  transition: all 0.4s;
}

.main-content{
  margin: 1rem;
  height: calc(100vh - 6rem);
  width: calc(100vw - 14rem);
}

.main-row{
  height: 100%
}

.navbar {
  min-height: 4rem;
}

/* .horizontal-nav{
  margin-right: 1rem;
  margin-left: 1rem;
} */

ul.top-nav {
  min-height: 4rem;
  max-height: 4rem;
}

li.top-nav{
  display: flex;
  text-align: center;
  align-items: center;
}

li.tour-nav{
  width: 5em;
  /* display: flex;
  text-align: center;
  align-items: center; */
}


#graph_card_general{
  height: 100%;
  margin: 0px;
}

#filter_card{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

#info_card{
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 1rem;
  align-items: center;
  text-align: center;
}

.side-cards{
  padding: 0px;
  padding-right: 1rem;
}

.filter-row{
  margin:0px;
  height: 50%;
  width: 100%;
  padding-left: 0rem;
  padding-right: 0rem;
}

.info-row{
  margin:0px;
  height: calc(50% - 1rem);
  padding-left: 0rem;
  padding-right: 0rem;
}

#graph_card_tour{
  height: 100%;
  margin: 0px;
}

#nav_card{
  height: 100%;
  margin: 0px;
}

#my_dataviz{
  height: 100%
}

/* custom card spacing */
#graph_card_col{
  max-width: calc(83% + 1rem);
  padding-left: 0px;
  /* padding-right: rem; */
}

#graph_card_col_tour{
  /* max-width: calc(66.666667% - 2rem) !important; */
  padding-left: 0px;
}

.filter-type-heading {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.browser-default.custom-select {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.card-header{
  width: 100%;
}

ul.card-elements{
  width:100%;
}

div.date-range {
  margin-top: 1rem;
}

.filter-li{
  width: 100%;
  /* display: flex; */
  text-align: center;
  align-items: center;
  width: 100%;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.filter-li-subrow{
  width: 100%;
  /* display: flex; */
  text-align: center;
  align-items: center;
  margin:0;
  margin-top: 0.5rem;
  margin-bottom: 0.0rem;
}

div.date-picker-view{
  margin-top: 0.4rem !important;
  width: 100%;
}

div.btn-group.btn-group-toggle.date-range{
  margin-top: 0;
}

body {
background: #599fd9;
background: -webkit-linear-gradient(to right, #599fd9, #c2e59c);
background: linear-gradient(to right, #599fd9, #c2e59c);
min-height: 100vh;
overflow-x: hidden;
}

.separator {
margin: 3rem 0;
border-bottom: 1px dashed #fff;
}

.text-uppercase {
letter-spacing: 0.1em;
}

/* Chart CSS */
.legend {
  font-size: 12px;
  font-family: sans-serif;
  rect {
    stroke-width: 2;
  }
  text {
    fill: lightcyan;
  }
}

.active.main-nav {
  /* background-color: #599fd9; */
  background-color: #69b38ee5;
  /* background-color: #92c585; */
  /* background-color: #7ab3a5d5; */
}

.active.top-nav {
  background-color: #599fd9b4;
}

.stats-wrapper {
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.graph-wrapper{
  width: 100%;
  height: 100%;
}

.stats-row{
  display: flex;
  text-align: center;
  align-items: center;
  height: 33.33333%;
}

.statistic{
  font-size: 200%;
}

h4.statistic-head {
  color: #5395cc;
}

/* rect {
  fill: #7ab3a5
} */