<!doctype html>
<html lang="en">


<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Distributions -->
  <script src="{{url_for('static', filename='dist/js/d3.v4.min.js')}}"></script>
  <script src="{{url_for('static', filename='dist/js/d3-scale-chromatic.v1.min.js')}}"></script>
  <script src="{{url_for('static', filename='dist/js/jquery-3.4.1.slim.min.js')}}"></script>
  <script src="{{url_for('static', filename='dist/js/popper.min.js')}}"></script>
  <script src="{{url_for('static', filename='dist/js/moment.min.js')}}"></script>
  <script src="{{url_for('static', filename='dist/js/d3-transition.v1.min.js')}}"></script>

  <!-- Data Picker -->
  <script src="{{url_for('static', filename='dist/js/daterangepicker.js')}}"></script>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='dist/css/daterangepicker.css')}}">

  <!-- Bootstrap -->
  <script src="{{url_for('static', filename='dist/js/bootstrap.min.js')}}"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='dist/css/bootstrap.min.css')}}">


  <!-- StyleSheet-->
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')

}}">

  <title>Rijksmuseum Tour Analytics</title>
</head>


<body>
  <div class="wrapper">
    <!-- Vertical navbar -->
    {% block vertical_navbar %}
    <div class="vertical-nav bg-white" id="sidebar">
      <div class="py-4 px-3 mb-4 bg-light">
        <!-- NavBar Title -->
        <h4 class="m-0">Rijksmuseum</h4>
        <p class="font-weight-light text-muted mb-0">Tour Analystics</p>
      </div>

      <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>

      <ul class="nav bg-white ">
        <!-- <li class="nav-item">
          <a href="{{url_for('home')}}" class="nav-link text-dark font-italic">
            <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
            Home
          </a>
        </li> -->
        <li class="nav-item main-nav" value=0>
          <a href="{{url_for('general')}}" class="nav-link text-dark font-italic">
            <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
            General Metrics
          </a>
        </li>
        <li class="nav-item main-nav" value=1>
          <a href="{{url_for('tours') + '?tour_index=0'}}" class="nav-link text-dark font-italic">
            <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
            Tour Metrics
          </a>
        </li>
        <!-- <li class="nav-item">
          <a href="#" class="nav-link text-dark font-italic">
            <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
            Settings
          </a>
        </li> -->
        <li class="nav-item">
          <a href="#" class="nav-link text-dark font-italic">
            <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
            Update
          </a>
        </li>
      </ul>

      {% endblock %}
    </div>


    <!-- 
        <div id="content">

          <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="container-fluid">
  
                  <button type="button" id="sidebarCollapse" class="btn btn-info">
                      <i class="fas fa-align-left"></i>
                      <span>Toggle Sidebar</span>
                  </button>
              </div>
          </nav> -->


    <div class="right-content" id="content">
      {% block horizontal_navbar %}
      <div class='horizontal-nav'>
        <!-- <div class="horizontal-nav" id="horizontal-nav"> -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light top-nav">
          <ul class="navbar-nav top-nav">
            {% block horizontal_nav %}

            {% endblock %}
          </ul>
        </nav>
        <!-- </div> -->
      </div>
      {% endblock %}
      <div class="main-content">
        <div class="row main-row">
          <!-- Main Cards -->
          {% block main_content %}

          {% endblock %}
          <!-- Filter and Info Cards -->
          {% block filter_info_cards %}
          <div class="col-3 side-cards">
            <div class="row filter-row">
              <div class="card" id="filter_card">
                <div class="card-header">
                  Data Filters
                </div>
                <ul class="list-group list-group-flush card-elements">
                  <li class="list-group-item filter-li" id="language-filter-element">
                    <span id="tour-filter-heading">Tour Language</span>
                    <select class="browser-default custom-select" id="language-filter">
                      <option value="0" selected>All Languages</option>
                      <option value="1">English</option>
                      <option value="2">Dutch</option>
                      <option value="3">French</option>
                      <option value="4">Spanish</option>
                      <option value="5">Italian</option>
                      <option value="6">German</option>
                      <option value="7">Chinese</option>
                      <option value="8">Japanese</option>
                      <option value="9">Russian</option>
                      <!-- <option value="10">Dutch Sign</option> -->
                    </select>
                  </li>
                  <li class="list-group-item filter-li" id="date-filter-element">
                    <span class="filter-type-heading">Date Selector</span>
                    <div class='row filter-li-subrow'>
                      <div class="btn-group btn-group-toggle date-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                          <input type="radio" class="date-select-options" name="options" id="option1" autocomplete="off"
                            value=0 checked> Quick
                        </label>
                        <label class="btn btn-secondary">
                          <input type="radio" class="date-select-options" name="options" id="option2" autocomplete="off"
                            value=1>
                          Range
                        </label>
                      </div>
                    </div>
                    <hr/>
                    <div class="row date-picker-view filter-li-subrow hide-element" id="date-picker-select">
                      <div class='col'>
                        <input type="text" name="dates" class="form-control pull-right" id="#date-range">
                      </div>
                    </div>
                    <div class="row date-picker-view filter-li-subrow" id="date-quick-select">
                      <div class="btn-group btn-group-toggle date-range" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                          <input type="radio" name="dateoptions" class="date-select-quick" id="quickdate1"
                            autocomplete="off" value=0 checked>
                          Last Week
                        </label>
                        <label class="btn btn-secondary">
                          <input type="radio" name="dateoptions" class="date-select-quick" id="quickdate2"
                            autocomplete="off" value=1> Last
                          Month
                        </label>
                        <label class="btn btn-secondary">
                          <input type="radio" name="dateoptions" class="date-select-quick" id="quickdate3"
                            autocomplete="off" value=2> All Days
                        </label>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row info-row">
              <div class="card" id="info_card">
                <div class="card-header">
                  Information
                </div>
                <div style="margin: 1rem; text-align: left;" id="info_card_content">

                </div>
              </div>
            </div>
          </div>
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
  <script src="{{url_for('static', filename='js/filter_card.js')}}"></script>
</body>

</html>