{% extends "base.html" %}

{% block horizontal_nav %}
<li class="nav-item top-nav active" id="nav-1" data-val=0>
  <a class="nav-link" href="#">Popularity</a>
</li>
<li class="nav-item top-nav" id="nav-2" data-val=1>
  <a class="nav-link" href="#">Stop Audio Completion Ratio</a>
</li>
<!-- <li class="nav-item top-nav" id="nav-3" data-val=2>
  <a class="nav-link" href="#">Media Length</a>
</li> -->
<!-- <li class="nav-item top-nav" id="nav-4" data-val=3>
  <a class="nav-link" href="#">Languages</a>
</li> -->
{% endblock %}



{% block main_content %}

  <div class="col-9">

    <div class="card" id="graph_card_general">
      <div id="my_dataviz"></div>
    </div>
  </div>


<script src="{{url_for('static', filename='js/bar_graph.js')}}"></script>
<script src="{{url_for('static', filename='js/general_page.js')}}"></script>
{% endblock %}