{% extends "base.html" %}

{% block horizontal_nav %}
<li class="nav-item top-nav active" value=0 id='tour-sub-nav-1'>
  <a class="nav-link top-nav" href="#">General Statistics</a>
</li>
<!-- <li class="nav-item sub-nav" value=1 id='tour-sub-nav-2'>
  <a class="nav-link" href="#">Audio Statistics</a>
</li> -->
<li class="nav-item top-nav" value=2 id='tour-sub-nav-3'>
  <a class="nav-link" href="#">Language Usage</a>
</li>
{% endblock %}

{% block main_content %}
<!-- Navigation Card -->
<div class="col-2 nav-col">
  <div class="card" id="nav_card">
    <nav class="navbar navbar-light bg-light navbar-expand-lg">
      <ul class="nav navbar-nav bg-light">
        <li class="nav-item sub-nav" id="nav-1" value=0>
          <a class="nav-link" href="#">Highlights</a>
        </li>
        <li class="nav-item sub-nav" id="nav-2" value=1>
          <a class="nav-link" href="#">Rembrandt Velazquez</a>
        </li>
        <li class="nav-item sub-nav" id="nav-3" value=2>
          <a class="nav-link" href="#">Colonial Past</a>
        </li>
        <li class="nav-item sub-nav" id="nav-4" value=3>
          <a class="nav-link" href="#">Music</a>
        </li>
        <li class="nav-item sub-nav" id="nav-5" value=4>
          <a class="nav-link" href="#">Building</a>
        </li>
        <li class="nav-item sub-nav" id="nav-6" value=5>
          <a class="nav-link" href="#">Gallery of Honour</a>
        </li>
        <li class="nav-item sub-nav" id="nav-7" value=6>
          <a class="nav-link" href="#">1100-1600</a>
        </li>
        <li class="nav-item sub-nav" id="nav-8" value=7>
          <a class="nav-link" href="#">1600-1650</a>
        </li>
        <li class="nav-item sub-nav" id="nav-9" value=8>
          <a class="nav-link" href="#">1650-1700</a>
        </li>
        <li class="nav-item sub-nav" id="nav-10" value=9>
          <a class="nav-link" href="#">1700-1800</a>
        </li>
        <li class="nav-item sub-nav" id="nav-11" value=10>
          <a class="nav-link" href="#">1800-1900</a>
        </li>
        <li class="nav-item sub-nav" id="nav-12" value=11>
          <a class="nav-link" href="#">1900-1950</a>
        </li>
        <li class="nav-item sub-nav" id="nav-13" value=12>
          <a class="nav-link" href="#">1950-2000</a>
        </li>
        <li class="nav-item sub-nav" id="nav-14" value=13>
          <a class="nav-link" href="#">Special Collections</a>
        </li>
        <li class="nav-item sub-nav" id="nav-15" value=14>
          <a class="nav-link" href="#">Asian Pavilion</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<!-- Content Card -->
<div class="col-7" id="graph_card_col_tour">
  <div class="card" id="graph_card_tour">
    <div id="card_content" style='height: 100%'>
      <div class='graph-wrapper hide-element'>

      </div>
      <div class='stats-wrapper hide-element'>
        <div class='row stats-row'>
          <div class='col stats-col stats-box' value="tour_start">
            <h4 class="font-weight-light statistic-head">Avg. Daily Tour Starts</h4>
            <p class="font-weight-light statistic"> 0</p>
          </div>
          <div class='col stats-col stats-box' value="tour_switch">
            <h4 class="font-weight-light statistic-head">Avg. Daily Tour Switches</h4>
            <p class="font-weight-light statistic"> 0</p>
          </div>
          <div class='col stats-col stats-box' value="switch_target">
            <h4 class="font-weight-light statistic-head">Most Switch To Tour</h4>
            <p class="font-weight-light statistic"> Highlights</p>
          </div>
        </div>
        <div class='row stats-row'>
          <div class='col stats-col stats-box' value="media_len">
            <h4 class="font-weight-light statistic-head">Avg. Audio Clip Length</h4>
            <p class="font-weight-light statistic"> <span class='stat-value'>0</span>s</p>
          </div>
          <!-- <div class='col stats-col stats-box' value="media_lis">
            <h4 class="font-weight-light statistic-head">Avg. Daily Listened Media</h4>
            <p class="font-weight-light statistic" > 0</p>
          </div> -->
          <div class='col stats-col stats-box' value="media_com">
            <h4 class="font-weight-light statistic-head">Avg. Listening Ratio Per Audio Clip</h4>
            <p class="font-weight-light statistic"><span class='stat-value'>0</span><span class='units'>%</span></p>
          </div>
        </div>
        <div class='row stats-row'>
          <div class='col stats-col stats-box' value="room_sit">
            <h4 class="font-weight-light statistic-head">Room with Most Time Spent</h4>
            <p class="font-weight-light statistic"> 2.14</p>
          </div>
          <div class='col stats-col stats-box' value="museum">
            <h4 class="font-weight-light statistic-head">Museum Phone Ratio</h4>
            <p class="font-weight-light statistic"> 0</p>
          </div>
        </div>
      </div>
      <div class='stats-audio-wrapper hide-element'>
        <div class='row stats-row'>
          <div class='col stats-col stats-box' value="room_sit">
            <h4 class="font-weight-light statistic-head">Something</h4>
            <p class="font-weight-light statistic"> Something</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>var current_tour = Number({{ current_tour }}); var current_subnav = 0;</script>
<script src="{{url_for('static', filename='js/tour_page.js')}}"></script>
{% endblock %}